.truncate {
    white-space: nowrap;
    /* Ngăn chặn xuống dòng */
    overflow: hidden;
    /* Ẩn phần nội dung vượt quá khối chứa */
    text-overflow: ellipsis;
    /* Hiển thị dấu "..." khi bị cắt bớt */
    max-width: 250px;
    /* Số ký tự tối đa bạn muốn hiển thị */
}

.image-container {
    width: 50px;
    /* Kích thước của khung */
    height: 50px;
    overflow: hidden;
    /* Ẩn phần của ảnh vượt quá khung */
}

.image-container img {
    width: 100%;
    /* 100% chiều rộng của khung */
    height: 100%;
    /* 100% chiều cao của khung */
    object-fit: cover;
    /* Ảnh sẽ được tự động điều chỉnh để khớp khung mà không biến dạng */
}

.editBtn{
    cursor: pointer;
}

.editBtn:hover{
    background-color: rgb(204, 204, 204);
}

.btn{
    margin-bottom: 0 !important;
}